
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}

th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  box-sizing: border-box;
  width: auto;
}

tbody.form {
  tr {
    border-bottom: 1px solid #dddddd;
  }
  tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
}

app-table-cell {
  display: table-cell;
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}
