@import 'src/styles/stylesReference.scss';

.footerPage {
  background-color: $black;
  display: grid;

  grid-template-columns: 1fr;
  padding: 1%;
  height: 100%;
  &__bottom {
    padding: 0.5rem 2rem ;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}
