@use '/src/styles/stylesReference.scss' as *;

.input{
    padding: 0.8rem 1.2rem;
    border-radius: 0.2rem;
    border: .1rem solid $spacer_light;
    color:$border;

    &:focus{
        outline:none;
        color: $black;
        border: .1rem solid $purple;

        &::placeholder{
            color: $black;
        }
    }

    &--normal{
        padding: 1.2rem;
    }
}
