//Colors Corporate
$purple: #9D3FE7;
$gradient: linear-gradient(159.13deg, $purple 24.13%, #602093 132.21%);

//Grey scale
$black: #1A141F;
$hint_text: #4B3A5A;
$border: #ABA7AF;
$disabled: #D4D2D5;
$spacer: #D9D1E0;
$spacer_light: #E5E0EB;
$bg_light_grey: #F5F3F7;
$white: #FFFFFF;

//Colors informing
$error: #D51A52;
$attention: #FF9500;
$approval: #00B998;
$link: #0F0BAB;
