@use 'colorPalette' as *;
@use 'responsiveData' as *;

@mixin input-base-styles{
    padding: 0.8rem 1.2rem;
    width: 19.151rem;
    border: .1rem solid $spacer-light;
    border-radius: 0.2rem;
    color: $black;

    @include desktop{
        width: 25rem;
    }

    &:focus {
        outline: none;
        color: $black;
        border: .1rem solid $purple;

        &::placeholder {
            color: $black;
        }
    }
}

@mixin phone{
    @media (min-width: $phone){
        @content;
    }
}

@mixin tablet{
    @media (min-width: $tablet){
        @content;
    }
}

@mixin desktop{
    @media (min-width: $desktop){
        @content;
    }
}
