@use '/src/styles/stylesReference.scss' as *;

.button{
 padding: 2.5% 2.5%;
    background-color: $purple;
    color: $white;
    border-radius: 0.4rem;
    outline: none;
    border: $border;
    cursor: pointer;

    @include desktop{
        padding: 10% 5%;
        font-size: 20%;
    }

    &:disabled{
        background-color: $disabled;
        cursor: not-allowed;
    }

}
