@use '/src/styles/stylesReference.scss' as *;

.button{
    padding: 0.6rem 4rem;
    background-color: $purple;
    color: $white;
    border-radius: 0.4rem;
    outline: none;
    border: $border;
    cursor: pointer;

    @include desktop{
        padding: 1rem 4rem;
        font-size: 2rem;
    }

    &:hover{
        background-color: darken($color: $purple, $amount: 5);
    }

}
