<div class="hamburger-container">
  <!-- Botón Hamburger -->
  <div class="hamburger" (click)="toggleMenu()" (keydown)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <!-- Menú que se despliega -->
  <nav class="menu" [ngClass]="{'active': isMenuOpen}">
    <ul>
      <li><a href="/dashboard/modules/list-articles">Inicio</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
</div>
