@use "/src/styles/stylesReference.scss" as *;

.layout-wrapper {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";

  @include desktop {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header header header header header header header header"
      "sidebar content content content content content content content content content"
      "footer footer footer footer footer footer footer footer footer footer";
  }

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__footer {
    grid-area: footer;
  }
}
