<div class="container">
  <h1 class="principal-title poppins-regular">
    Create a new <span class="principal-title__highlight">category</span>
  </h1>
  <form
    [formGroup]="createCategoryForm"
    (ngSubmit)="createCategory()"
    class="form"
  >

      <label for="categoryName" class="infoInput poppins-regular">Category Name:</label>
      <div class="container-inputs">
        <app-input-error-handler
          id="categoryName"
          formControlName="categoryName"
          [errorMessage]="categoryNameError"
        ></app-input-error-handler>
      </div>
      <label for="categoryDescription" class="infoInput poppins-regular">Category Description:</label>
      <div class="container-inputs">
        <app-input-error-handler
          id="categoryDescription"
          formControlName="categoryDescription"
          [errorMessage]="categoryDescriptionError"
        ></app-input-error-handler>
      </div>
      <app-button [disabled]="createCategoryForm.invalid">Create Category</app-button>
  </form>
</div>
