// Estilo para el encabezado de la tabla
thead {
  display: table-header-group;
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em; // Aumentar el tamaño de la fuente
}

// Estilo para las celdas del encabezado
th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  box-sizing: border-box; // Asegurar que el tamaño de las celdas se ajuste correctamente
  width: auto; // Permitir que las celdas se ajusten al contenido
}

// Estilo para las filas del encabezado
tr {
  border-bottom: 2px solid #dddddd;
}
