<div class="table-page">
  <div class = "title">
    <h1>Brands</h1>
  </div>
  <div class="controls">
    <label class= "labelPageSize"for="pageSize">Page Size:</label>
    <select class="pageSize" (change)="onPageSizeChange($event)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>

    <label class = "labelSortDirection" for="sortDirection">Sort Direction:</label>
    <select class="sortDirection" (change)="onSortDirectionChange($event)">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
  <app-table [pageData]="brandsPage" [headers]="headers" (onPageChange)="onPageChange($event)"></app-table>
  <div class="pagination-controls">
    <app-button (click)="previousPage()" [disabled]="brandsPage.currentPage === 0"><<</app-button>
    <div class="listOfPage">
      <button class="pages" *ngFor="let page of pages" (click)="goToPage(page)" [class.active]="page === brandsPage.currentPage + 1">
        {{ page }}
      </button>
    </div>
    <app-button (click)="nextPage()" [disabled]="brandsPage.currentPage === brandsPage.totalPages - 1">>></app-button>
  </div>
</div>

