@use "/src/styles/stylesReference.scss" as *;

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 10vh;
  gap: 1%;
  margin-bottom: 1%;
}

.input {
  @include input-base-styles;
  &--normal {
    padding: 1%
  }

  @include desktop {
    font-size: 1.8%;
    line-height: 144%;
    font-weight: 400;
  }
}

.error-message {
  color: $error;
  font-size: 1.3rem;
}
