@use "/src/styles/stylesReference.scss" as *;

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 4rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input {
  @include input-base-styles;
  &--normal {
    padding: 1.2rem;
  }

  @include desktop {
    font-size: 1.8rem;
    line-height: 144%;
    font-weight: 400;
  }
}

.error-message {
  color: red;
  font-size: 1.3rem;
}
